---
import "../styles/global.css";
import SeoHead from "../lib/components/SeoHead.astro";
import TrainerApp from "../lib/components/TrainerApp.svelte";
import {
  trainerRoutes,
  type TrainerRoute,
} from "../lib/content/trainer-routes";
import { buildTrainerRouteStructuredData, getSiteOrigin } from "../lib/seo";

interface Props {
  route: TrainerRoute;
}

export const getStaticPaths = () => {
  return trainerRoutes.map((route) => ({
    params: { trainerRoute: route.slug },
    props: { route },
  }));
};

const { route } = Astro.props;

const siteOrigin = getSiteOrigin(Astro.site);
const robotsContent = route.indexable
  ? "index,follow,max-image-preview:large"
  : "noindex,follow";
const structuredData = route.indexable
  ? buildTrainerRouteStructuredData(route, siteOrigin)
  : undefined;
---

<html lang="en">
  <head>
    <SeoHead
      title={route.title}
      description={route.description}
      canonicalPath={route.path}
      robots={robotsContent}
      {structuredData}
    />
  </head>
  <body>
    <TrainerApp routeSlug={route.slug} client:load />
  </body>
</html>
