---
import "../styles/global.css";
import LegalPage from "../lib/components/LegalPage.svelte";
import SeoHead from "../lib/components/SeoHead.astro";
import { legalPages } from "../lib/content/legal";
import { buildLegalStructuredData, getSiteOrigin } from "../lib/seo";

const page = legalPages.privacy;
const siteOrigin = getSiteOrigin(Astro.site);
const structuredData = buildLegalStructuredData(page, siteOrigin);
---

<html lang="en">
  <head>
    <SeoHead
      title={page.metaTitle}
      description={page.description}
      canonicalPath={page.path}
      ogType="article"
      {structuredData}
    />
  </head>
  <body>
    <LegalPage page={page} />
  </body>
</html>
